<!-- <FlexboxLayout
  flexDirection="row"
  justifyContent="space-between"
  alignItems="flex-start"
>
  <Label id="i1" text="A"></Label>
  <Label id="i2" text="B" alignSelf="flex-end"></Label>
  <Label id="i3" text="C"></Label>
</FlexboxLayout> -->

<!-- <FlexboxLayout
  flexDirection="column"
  justifyContent="space-around"
  alignItems="center"
>
  <Label id="i1" text="A"></Label>
  <Label id="i2" text="B"></Label>
  <Label id="i3" text="C"></Label>
</FlexboxLayout> -->

<FlexboxLayout
  flexDirection="column"
  justifyContent="space-around"
  alignItems="stretch"
>
  <Label id="i1" text="A"></Label>
  <Label id="i2" text="B"></Label>
</FlexboxLayout>
