*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines what 1 rem is
  // 1rem = 10px; 10px/16px = 62.5%
  font-size: 62.5%;

  // width < 1200 ?
  @include respond(tab-land) {
    // 1 rem = 9px, 9/16 = 56.25
    font-size: 56.25%;
  }
  // width < 900 ?
  @include respond(tab-port) {
    // 1 rem = 8px, 8/16 = 50
    font-size: 56.25%;
    font-size: 50%;
  }
  // width < 1200 ?
  @include respond(phone) {
    font-size: 30%;
  }
  // width > 1800 ?
  @include respond(big-desktop) {
    // 1 rem = 12, 12/16
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}
